<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Préstamos</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search products'">
            </mat-form-field>
            <!-- Add product button -->
            <!-- <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createProduct()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1"></span>
            </button> -->
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(products$ | async) as products">
                <ng-container *ngIf="products.length > 0; else noProducts">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div class="ml-6"></div>
                            <div
                                class="block col-span-4 whitespace-nowrap">
                                Tenés {{pagination.length}} {{products.length === 1 || products.lenght === 0? 'prestamo': 'prestamos'}} activos
                            </div>
                            <!-- <div
                                class="hidden md:block"
                                [mat-sort-header]="'sku'">
                                Cupón
                            </div>
                            <div [mat-sort-header]="'name'">Comercio</div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'price'">
                                Precio
                            </div> -->
                            <!-- <div
                                class="hidden lg:block"
                                [mat-sort-header]="'stock'">
                                Stock
                            </div>
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'active'">
                                Active
                            </div> -->
                            <!-- <div class="hidden sm:block">Detalle</div> -->
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(products$ | async) as products">
                            <ng-container *ngFor="let product of products; trackBy: trackByFn">
                                <div class="inventory-grid grid items-center py-3 px-6 md:px-8 border-b">

                                    <!-- Image -->
                                    <div class="flex items-center">
                                       <!--  <div class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border"> -->
                                            <!-- <img
                                                class="w-8"
                                                *ngIf="product.thumbnail"
                                                [alt]="'Product thumbnail image'"
                                                [src]="product.thumbnail"> -->
                                            <!-- <div class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase">
                                                SIN LOGO
                                            </div> -->
                                        <!-- </div> -->
                                    </div>

                                    <!-- SKU -->
                                    <div class="hidden md:block truncate mr-6">
                                        {{product.sku}}
                                    </div>

                                    <!-- Name -->
                                    <div class="truncate w-full">
                                        {{product.name}}
                                    </div>

                                    <!-- Price -->
                                    <div class="hidden sm:block">
                                        {{product.price | currency:'USD':'symbol':'1.2-2'}}
                                    </div>

                                    <!-- Stock - ->
                                    <div class="hidden lg:flex items-center">
                                        <div class="min-w-4">{{product.stock}}</div>
                                        <!- - Low stock - ->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-red-200 rounded overflow-hidden"
                                            *ngIf="product.stock < 20">
                                            <div class="flex w-full h-1/3 bg-red-600"></div>
                                        </div>
                                        <!- - Medium stock - ->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-orange-200 rounded overflow-hidden"
                                            *ngIf="product.stock >= 20 && product.stock < 30">
                                            <div class="flex w-full h-2/4 bg-orange-400"></div>
                                        </div>
                                        <!- - High stock - ->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-green-100 rounded overflow-hidden"
                                            *ngIf="product.stock >= 30">
                                            <div class="flex w-full h-full bg-green-400"></div>
                                        </div>
                                    </div>

                                    <!- - Active - ->
                                    <div class="hidden lg:block">
                                        <ng-container *ngIf="product.active">
                                            <mat-icon
                                                class="text-green-400 icon-size-5"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        </ng-container>
                                        <ng-container *ngIf="!product.active">
                                            <mat-icon
                                                class="text-gray-400 icon-size-5"
                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                        </ng-container>
                                    </div-->

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(product.id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedProduct?.id === product.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedProduct?.id === product.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: product}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <!-- sm:absolute inherit sm:inset-x-1 sm:bottom-1 bottom-0 border-b sm:border-t sm:border-b-0 bg-gray-50 dark:bg-transparent -->
                    <mat-paginator
                        class="bg-gray-50 dark:bg-transparent border-b md:mb-3"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                    <ng-container>
                        <footer class="sm:absolute sm:inset-x-0 sm:bottom-0 p-5 md:m-auto bottom-0 z-10 flex flex-col md:flex-row items-center justify-between bg-gray-300">
                            <div class="p-3 m-auto content-center">Quiere cancelar su prestamo ?</div>
                            <div class="p-3 m-auto content-center whitespace-nowrap"> * Explicacion el tratamiento para la cancelacion * </div>
                            <div class="p-3 m-auto content-center">* saldo de cancelacion *</div>
    
                            <button class="p-4" mat-raised-button>Iniciar cancelacion</button>
                        </footer>
                    </ng-container>
                    

                </ng-container>
            </ng-container>

            <ng-template

                #rowDetailsTemplate
                let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex flex-col items-start md:items-center justify-start border-b p-3 md:w-8/12 self-center m-auto bg-default text-secondary border-2 border-transparent rounded"
                         [ngClass]="{'border-warn-300': estaEnMora, 'border-green-300': estaFinalizado || estaCancelado}">

                        <!-- lo cancelo al prestamo -->
                        <div *ngIf="estaCancelado"  
                            class="flex items-center justify-self-center m-auto text-left md:text-center text-lg p-3 bg-gray-300 rounded w-full">
                            <mat-icon 
                                class="icon-size-5" 
                                matPrefix 
                                [svgIcon]="'heroicons_outline:thumb-up'"></mat-icon>
                            <div class="text-center p-2 text-secondary">
                                Préstamo cerrado
                            </div>
                        </div>

                        <!-- lo Finalizo al prestamo en tiempo y forma -->
                        <div *ngIf="estaFinalizado"  
                            class="flex items-center justify-self-center m-auto text-left md:text-center text-lg p-3 bg-green-300 rounded w-full">
                            <mat-icon 
                                class="icon-size-5" 
                                matPrefix 
                                [svgIcon]="'heroicons_outline:thumb-up'"></mat-icon>
                            <div class="text-center p-2 text-on-green-300">
                                Felicitaciones! ya terminaste de pagar tu préstamo
                            </div>
                        </div>

                        <!-- si esta al dia -->
                        <div *ngIf="estaAlDia"  
                            class="flex items-center justify-self-center m-auto text-left md:text-center text-lg p-3 bg-green-300 rounded w-full">
                            <mat-icon 
                                class="icon-size-5" 
                                matPrefix 
                                [svgIcon]="'heroicons_outline:thumb-up'"></mat-icon>
                            <div class="text-center p-2 text-secondary">
                                Estás al día con el préstamo!
                            </div>
                        </div>
                        <!-- si esta en mora -->
                        <div *ngIf="estaEnMora"  
                            class="flex items-center justify-self-center m-auto text-left md:text-center text-lg p-3 bg-warn-300 rounded w-full">
                            <mat-icon 
                                class="icon-size-5" 
                                matPrefix 
                                [svgIcon]="'heroicons_outline:thumb-down'"></mat-icon>
                            <div class="text-center text-medium text-secondary font-bold">
                                Ups! no estas al dia con tu préstamo
                            </div>
                        </div>
                        <div  *ngIf="estaEnMora" 
                            class="text-center italic m-auto p-2 justify-self-center text-secondary text-sm text-on-warn-300 w-full">
                            Es muy importante que regularices tu situacion
                        </div>

                        <div class="text-left md:text-center text-lg p-3">
                            Compraste:  
                            <div class="text-left md:text-center text-lg pb-3 pt-3">
                                Una <strong> heladera </strong> en <strong>12</strong> cuotas
                            </div>
                        </div>
                        
                        <div *ngIf="!estaFinalizado" class="p-3 bg-accent-300 rounded-xl text-left md:text-center w-full md:w-6/12 border-2 border-white">
                            Tu próxima cuota vence <strong>08/09/2021</strong>
                            <div class="text-left md:text-center font-sm text-secondary whitespace-nowrap">
                                te restan {{  limiteTotalBarEnCuotas - prestamoEnCuotas }} / {{limiteTotalBarEnCuotas}} por abonar.
                            </div>
                        </div>

                        <div class="text-center italic m-auto p-2 justify-self-center text-secondary text-sm w-full">
                            Tip: pagando la cuota antes de la fecha de vencimiento, te aseguras que el monto no crezca. Tene en cunetaque despues de la fecha se aplicaran intereses
                        </div>

                        
                        <!-- <mat-icon 
                            class="icon-size-5 self-start md:hidden"
                            matPrefix [svgIcon]="'heroicons_outline:chat'"></mat-icon> -->

                        <div *ngIf="!estaFinalizado" class="w-full md:w-6/12 min-w-10 m-auto pb-3 mt-2 items-center">
                            <app-progresbar [progress]="prestamoEnCuotas" [where]="'cuotas'" [total]="limiteTotalBarEnCuotas"></app-progresbar>
                            <div class="text-left font-sm pl-2 pt-2 whitespace-nowrap">
                                Ya pagaste (40%) del prestamo!
                            </div>
                        </div>

                        <div *ngIf="!estaFinalizado" class="py-3 px-2 md:self-center bg-accent-300 rounded-xl text-center md:m-auto w-full md:w-6/12 border-2 border-white">
                            Te quedan <strong>6</strong> cuotas pendientes de <strong>$2999,99</strong>
                        </div>
                        <!-- <mat-icon 
                            class="icon-size-5 self-start md:hidden"
                            matPrefix [svgIcon]="'heroicons_outline:chat'"></mat-icon> -->

                        <div class="flex flex-col items-start justify-center py-3 text-secondary bg-accent-300 w-full md:w-6/12 border-2 border-white rounded-xl text-left pl-3 mt-4">
                            Información sobre mi crédito:
                            <div class="text-rigth font-sm text-secondary whitespace-nowrap mt-3 px-3 py-2">
                                ID: <strong>G-23003-H22</strong>
                            </div>
                            <div class="text-rigth font-sm text-secondary whitespace-nowrap px-3 py-2">
                                Monto Total: $ <strong>29.500,99</strong>
                            </div>
                            <div class="text-rigth font-sm text-secondary whitespace-nowrap px-3 py-2">
                                Fecha de Originacion: <strong>08/02/2021</strong>
                            </div>
                            <div class="text-rigth font-sm text-secondary whitespace-nowrap px-3 py-2">
                                Cuotas: <strong>12</strong>
                            </div>
                            <div class="text-rigth font-sm text-secondary whitespace-nowrap px-3 py-2">
                                Monto de cuota: $ <strong>2.999,99</strong>
                            </div>

                            <div class="text-left justify-center font-sm self-end md:self-center text-secondary whitespace-nowrap pr-2">
                                <button mat-stroked-button class="m-auto bg-default">Descargar contrato</button>
                            </div>
                        </div>
                        <!-- <mat-icon 
                            class="icon-size-5 self-start md:hidden" 
                            matPrefix 
                            [svgIcon]="'heroicons_outline:chat'"></mat-icon>  -->

                        <div class="m-auto text-center my-5 text-secondary">
                            <button mat-stroked-button class="bg-accent-300">Pedir solicitud de información </button>
                        </div>

                        <div class="text-center m-auto">Necesitas un certificado ?</div>
                        <div class="text-center m-auto italic pb-2">seleccioná uno para pedirlo</div>

                        <div class="flex flex-col items-center justify-center m-auto bg-accent-300 border-2 border-white p-6 rounded-xl md:w-6/12">
                            <div class="text-center text-secondary p-3 font-semibold m-auto border-1 border-b border-transparent hover:border-white cursor-pointer">
                                CERTIFICADO DEUDA AL DÍA
                            </div>
                            <div *ngIf="!estaFinalizado && !estaCancelado" 
                                 class="text-center text-secondary p-3 font-semibold m-auto border-1 border-b border-transparent hover:border-white cursor-pointer">
                                CERTIFICADO DE ESTADO DE PRÉSTAMO
                            </div>
                            <div *ngIf="!estaFinalizado && !estaCancelado"
                                 class="text-center text-secondary p-3 font-semibold m-auto border-1 border-b border-transparent hover:border-white cursor-pointer">                   
                                CERTIFICADO DE DEUDA DE PRÉSTAMO
                            </div>
                        </div>
                        <!-- <mat-icon 
                            class="icon-size-5 self-start md:hidden"
                            matPrefix [svgIcon]="'heroicons_outline:chat'"></mat-icon> -->

                    </div>
                </div>
            </ng-template>

            <ng-template #noProducts>
                <div class="flex flex-col m-auto items-center justify-center">

                    <div class="p-8 sm:p-16 text-4xl font-semibold tracking-tight text-center">
                        Todavía no tiene un préstamo? 
                    </div>
                    <div class="p-8 sm:p-16 items-center text-2xl justify-center tracking-tight border-t text-center ">
                        Te queres comprar una heladera nueva? pedi un prestamo de la anonima  y llevalo en cuotas 
                    </div>
                    <div class="p-8 sm:p-16 text-center text-2xl text-md tracking-tight border-t">
                        para más información ingrse 
                        <a class="border-transparent border-b-2 hover:border-black cursor-pointer italic font-bold" [href]="'https://www.laanonima.com.ar/'" target="_blanck">aquí</a>.
                    </div>
                </div>
                
            </ng-template>

        </div>

    </div>

</div>
