/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

$colorPrincipalOscuro : #02559f;
$colorPrincipalClaro  : #29abe2;

$colorSecundarioClaro : #FBBF24; 
$colorSecundarioOscuro: #D97706;

$colorGrisBackground  : #F3F4F6;

