<div class="flex flex-col min-w-0 w-full">

    <!-- mat-drawer-container -->
    <div class="flex-auto bg-card dark:bg-transparent">
        <!-- mat-drawer-content -->
        <div class="flex flex-col">

            <!-- Main desktop-->
            <!-- *ngIf="innerWidth > 1030" -->
            <div class="flex-auto items-center  p-6">
                <div class="p-3">
                    <div class="text-4xl font-extrabold tracking-tight leading-none">Mis resúmenes</div>
                    <div class="ml-0.5 font-sm text-secondary">
                        14/11/50
                    </div>
                </div>
                <div class="p-3 m-auto bg-accent-300 rounded">
                    
                    <div class="grid grid-cols-8 gap-2 mt-2 mb-2" *ngFor="let item of items">
                        <div class="flex col-span-3 bg-default rounded items-center text-left pl-2 mx-0 md:mx-2">
                            {{ item }} 
                        </div>
                        <div class="flex col-span-2 bg-default rounded items-center justify-center text-center">
                            12/11/93
                        </div>
                        <div class="flex flex-row flex-nowrap col-span-3 bg-default rounded items-center justify-evenly md:justify-between pr-0 md:pr-2">
                            <div class="flex flex-row items-center justify-center m-1 md:m-auto">
                                <div *ngIf="innerWidth > 650" class="text-center mx-0 md:mx-2 cursor-pointer">
                                    Visualizar
                                </div>
                                <mat-icon title="visualizar-resumen" [matTooltip]="'visualizar-resumen'"
                                class="icon-size-6 md:icon-size-8 pr-0 md:pr-2 mx-0 md:mx-2 cursor-pointer" matPrefix [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                            </div>
                            <div class="flex flex-row items-center justify-center m-1 md:m-auto">
                                <div *ngIf="innerWidth > 650" class="text-center mx-0 md:mx-2 cursor-pointer">
                                    Descargar
                                </div>
                                <mat-icon title="descargar-resumen" [matTooltip]="'descargar-resumen'"
                                class="icon-size-6 md:icon-size-8 pr-0 md:pr-2 mx-2 cursor-pointer" matPrefix [svgIcon]="'heroicons_outline:folder-download'"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main mobile -->
            <!-- *ngIf="innerWidth < 1030" -->
            <div  class="flex-auto items-center p-6">
                <div class="p-3">
                    <div class="text-4xl font-extrabold tracking-tight leading-none">Mis resúmenes</div>
                    <div class="ml-0.5 font-sm text-secondary">
                        14/11/50
                    </div>
                </div>
                <div class="p-3 m-auto w-full bg-accent-300 rounded">
                    
                    <table class="w-full m-auto" mat-table #table [dataSource]="dataSource">
                        <ng-container matColumnDef="producto">
                            <th mat-header-cell *matHeaderCellDef> Productos </th>
                            <td mat-cell *matCellDef="let row"> {{ row.producto}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fecha-cierre">
                            <th mat-header-cell *matHeaderCellDef> Fecha Cierre </th>
                            <td mat-cell *matCellDef="let row"> {{ row.fechaCierre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ver">
                            <th mat-header-cell *matHeaderCellDef>  </th>
                            <td mat-cell *matCellDef="let row"> 
                                <div class="flex flex-row items-center justify-center m-auto">
                                    <div class="text-center mx-0 md:mx-2  cursor-pointer hidden md:block">
                                        {{ row.resumen === 'SI' ? 'Ver': 'No hay resumen disponible'}}
                                    </div>
                                    <mat-icon title="descargar-resumen" [matTooltip]="'descargar-resumen'" *ngIf="row.resumen === 'SI'"
                                    class="icon-size-6 md:icon-size-8 pr-0 md:pr-2 mx-2 cursor-pointer" matPrefix [svgIcon]="'heroicons_outline:folder-download'"></mat-icon>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['producto', 'fecha-cierre', 'ver']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['producto', 'fecha-cierre', 'ver'];"></tr>
                    </table>
                </div>

            </div>
        </div>  
        
    </div>

</div>
