<div class="w-90 flex flex-row items-start justify-between overscroll-x-auto mx-2">
    
    <ng-container class="m-auto mt-8 carousel" *ngFor="let item of slides; let i = index"><!-- [@slideInLeft]="i === currentSlide" [@slideInRight]="i !== currentSlide" -->
       <div class="flex flex-col flex-shrink-0 items-center w-full justify-center m-auto pt-2 pb-3 mx-2 rounded hover:shadow-md cursor-pointer slide" 
            [ngClass]="getBgColor(item)"> <!-- m-7 ml-24  *ngIf="i === currentSlide"-->
            
            <!-- tarjeta datos-->
            <div class="flex flex-row items-center justify-between mx-2 py-2 w-full">

                <div class="border-1 rounded bg-default text-bold font-xl p-2 m-auto">
                    {{ item.type }}
                </div>

                <div class="flex flex-row font-bold items-center whitespace-nowrap">
                    <div class="mx-1"> **** </div> 
                    <div class="mx-1"> **** </div> 
                    <div class="mx-1"> **** </div>
                    <div class="mx-1"> {{ item.last_num }} </div>
                </div>
                <div class="whitespace-nowrap m-auto cursor-pointer">
                    <mat-icon class="icon-size-6 text-hint" [svgIcon]="'heroicons_outline:arrow-circle-right'"></mat-icon>
                </div>

            </div>

            <!-- fecha vencimiento y cierre -->
            <div class="m-auto items-center h-90 w-full  pt-6 justify-center text-center"> 
                <div class="text-secondary text-center p-1 font-sm font-semibold whitespace-nowrap flex-nowrap">
                    Vencimiento : <span class="text-left">17/02/2022</span>
                </div>
                <div class="text-center text-secondary p-1 text-sm font-semibold whitespace-nowrap flex-nowrap">
                    Cierre : <span class="text-right"> 12/01/2022</span>
                </div>
                <div class="text-sm text-secondary p-1 text-center">
                    ~ titular: {{ item.isTitular ? 'SI' : 'NO' }} tipo: {{item.type}} ~
                </div>

            </div>

        </div>
    </ng-container>

   <!--  <div class="absolute bottom-0 text-secondary font-md">{{ currentSlide + 1 +' / '+ slides.length }}</div> -->

  <!--   <div class="felx justify-self-center items-center m-auto">
        <button class="control prev m-auto pl-0" (click)="onPrevButtonClicked()">
            <mat-icon 
                class="icon-size-7 text-hint"
                [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
        </button>
    
        <button class="control next m-auto pr-0" (click)="onNextButtonClicked()">
            <mat-icon
                class="icon-size-7 text-hint" 
                [svgIcon]="'heroicons_outline:arrow-right'"></mat-icon> 
        </button>
    </div> -->
    
</div>
