:host {
    flex: 1;
}



.carousel {
    height: 70%;
    box-sizing: border-box;
    width: 100%!important;
    //border-radius: 0.5em;
    overflow-y: hidden!important;
    overflow-x: scroll !important;
}

.slide {
    overflow-x: hidden;
    height: 240px !important;
    object-fit: cover;
    //transition: transform 150ms cubic-bezier(0.24, 0.46, 0.45, 0.84);
    border-radius: 1em;
    background-image: url('../../../assets/images/tarjeta/TARJETA_VACIA.png');
    background-repeat: no-repeat;
    transition: translateX(1);
}

.control {
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    margin: auto;
    cursor: pointer;
    padding: 0.5em;
    color: white !important;
    font-size: 3em;
    font-weight: bold;
    opacity: 80%;
    // opacity on hover
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

    &:hover, &:focus {
        opacity: 1;
    }

    &.next {
        top: 50%;
        right: 0!important;
        padding-top: 0px!important;
    }

    &.prev {
        padding-top: 0!important;
        top:50%;
        left: 0!important;
    }
}
/* .active-el {
    scroll-behavior: smooth;
} */
div > span > .active {
    border: 1px solid #29abe2;
    border-radius: 30%;
    //border-radius: 50%;
}
.content-arrow {
    .arrow {
        border: solid #000;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        padding-left: 2px;
        text-align: center;
    }
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg) ;
    }
}